/*loading page styles and animations*/
.first-bg{
    background-color: rgb(70, 14, 69);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* girl character float animation*/
  .character{
    width: 200px;
    margin-bottom: 50px;
    animation: floating 3s ease-out infinite;
  }
  @keyframes floating{
    50% {
      transform: translate(0, 20px);
    }
  }

  /*loading animation styles*/
  .loading-box{
    height: 30px;
    width: 350px;
    position: relative;
  }
  .dot1, .dot2, .dot3, .dot4{
    width: 8px;
    height: 8px;
    position: absolute;
    background-color:#30072d;
    z-index: 100;
  }
  .dot1{
    top: -8px;
    left: -8px;
  }
  .dot2{
    top:30px;
    left: -8px;
  }
  .dot3{
    left: 350px;
    top: -8px;
  }
  .dot4{
    left: 350px;
    top: 30px;
  }
  .loading{
    height: 32px;
    width: 350px;
    background-color: #efafe3 ;
    animation: mymove 3s linear 1;
    border-width: 7px;
    border-color: #30072d;
    border-style: solid;
  }
  
  @keyframes mymove{
    from {
      width: 10%;
    }
    to {
      width: 100%;
    }
  }

  /*press start text animation styles*/
  .start{
    font-family: 'VT323', cursive;
    font-size: 58px;
    animation: Animation 8s ease-in-out infinite;
    margin-top: 50px;
    color: #30072d;
  }
  
  @keyframes Animation{
    0%  {opacity:0;}
    35% {opacity: 0;}
    70% {opacity:1;}
    75% {opacity:0;}
    80% {opacity:1;}
    85% {opacity: 0;}
    90% {opacity:1;}
    95% {opacity: 0;}
    100% {opacity:1;}
  }
